  <header class="header">

    {% if site.avatar %}
      <div class="header__logo">
        <a href="{{ site.baseurl }}/" class="header__link--logo">
        <!-- <div class="spinner"></div> -->
        <img src="{{ site.avatar }}" style="width: 48.5px; border-radius: 5px"></a>
      </div>
    {% else %}
      <h1 class="header__logo">
        <a href="{{ site.baseurl }}/" class="header__link--logo">{{ site.title }}</a>
      </h1>
    {% endif %}

    <nav class="header__nav" role="navigation">      
      <a href="{{ site.baseurl }}/archive/" class="header__link">文章列表</a>
      <a href="http://twitter.com/{{ site.twitter_username }}" class="header__link" target="_blank">Twitter</a>
      <!-- <a href="http://github.com/{{ site.github_username }}" class="header__link" target="_blank">Github</a> -->
      <!-- <a href="http://facebook.com/{{ site.facebook_username }}" class="header__link" target="_blank">Facebook</a> -->
      <a href="http://user.qzone.qq.com/{{ site.qq_username }}" class="header__link" target="_blank">QQ空间</a>
      <a href="http://www.baidu.com/p/{{ site.baidu_username }}" class="header__link" target="_blank">百度个人主页</a>
      <a href="{{ site.baseurl }}/about/" class="header__link">关于</a>
    </nav>
  </header>

  <main class="col">
