@charset 'utf-8';

@import '_global.css';
@import '_typography.css';
@import '_layout.css';
@import '_header.css';
@import '_footer.css';
@import '_article.css';
@import '_itemshow.css';
@import '_archive.css';

<script language="javascript" type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$("#back-to-top").hide();
$(function () {
$(window).scroll(function(){
if ($(window).scrollTop()>100){
$("#back-to-top").fadeIn(500);
}
else
{
$("#back-to-top").fadeOut(500);
}
});
$("#back-to-top").click(function(){
$('body,html').animate({scrollTop:0},100);
return false;
});
});
});
<style type="text/css">
</script>

#back-to-top{
position:fixed;
bottom:5%;
left:90%;
}
#back-to-top a{
display:block;
height:50px;
width:50px;
background:url(top.png) no-repeat center center;
margin-bottom:5px;
}
</style>
