<!doctype html>
<html lang="en">
{% include head.html %}
<body>

{% include header.html %}

{{ content }}
    
<p id="back-to-top" style="display: block; align: right"><a href="#top"><img src="http://7xof48.com1.z0.glb.clouddn.com/songroger/top.png"></a></p>

{% include footer.html %}
<script type="text/javascript">
  //友盟统计
  var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1260641879'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260641879' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
